body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 23px;
background-image:url("https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-1200-80.jpg") ;
}

img{border-radius: 50%;

}
header {
    padding:  30px 10px;
    border-radius: 10px;
}
nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #000000;
    border: 3px solid #000000 ;
    border-radius: 10px;
    margin-left: 5px;
    padding: 10px;

}
main{
    text-align: center;
}
.hz{font-size: 25 px;

}

.krainu{
    color: bisque;
}
.pon{
    position: fixed;
    right: 20px;
    top:20px;
    
}
header{
    background-color: rgb(224, 218, 165);
}
footer{
    background-color:rgb(224, 218, 165); ;
}

table{
    background-color:cornflowerblue;
    color: white;
}
